.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.consolaPsp {
    height: 16em;
    width: 40em;
    display: flex;
    flex-direction: row;
}

.parteIzquierda {
    width: 7em;
    height: 16em;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    -webkit-box-shadow: inset 5px 1px 64px -3px rgba(0,0,0,0.84);
    -moz-box-shadow: inset 5px 1px 64px -3px rgba(0,0,0,0.84);
    box-shadow: inset 5px 1px 64px -3px rgba(0,0,0,0.84);
}

/* Esta parte central esta relacionada con la parte de la pantalla */
.parteCentral {
    width: 26em;
    height: 16em;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: inset 5px 1px 64px -3px rgba(0,0,0,0.84);
    -moz-box-shadow: inset 5px 1px 64px -3px rgba(0,0,0,0.84);
    box-shadow: inset 5px 1px 64px -3px rgba(0,0,0,0.84);

}

.parteDerecha {
    width: 7em;
    height: 16em;
    background-color: red;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    -webkit-box-shadow: inset 5px 1px 64px -3px rgba(0,0,0,0.84);
    -moz-box-shadow: inset 5px 1px 64px -3px rgba(0,0,0,0.84);
    box-shadow: inset 5px 1px 64px -3px rgba(0,0,0,0.84);
    
}

.esquina {
    width: 5.6em;
    height: 3.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separadorL1 {
    width: 5.6em;
    height: 1.6em;
}

.botonL1 {
    border-radius: 3em 0 3em 0;
    background-color: #f5f5f5;
    cursor: pointer;
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.separadorR1 {
    width: 5.6em;
    height: 1.6em;
    display: flex;
    flex-direction: column;
}

.lucecita {
    width: 1.2em;
    height: 0.7em;
    flex-direction: column;
    border-radius: 30%;
    margin-top: 1em;
    margin-left: 0.5em;
    background-color: grey;
}

.botonR1 {
    border-radius: 0 3em 0 3em;
    background-color: whitesmoke;
    cursor: pointer;
    -webkit-box-shadow: inset -1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset -1px 2px 5px 0px rgba(0,0,0,0.75);
}


/* Botones izquierdos de dirección + yostick */

.controlFlechas {
    width: 7em;
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5em 0em 0em 5em;
}

.botonesIzquierda {
    width: 5em;
    height: 5em;
    border: 3px solid red;
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    -webkit-box-shadow: inset 0px 0px 45px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 45px -18px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 45px -18px rgba(0,0,0,0.75);

}

.separadorIzquierda {
    width: 5em;
    height: 5em;
    display: flex;
    margin-left: 2em;
    flex-direction: column;
    justify-content: center;
}

.joystick {
    width: 3em;
    height: 3em;
    background-color: black;
    border-radius: 100%;
    margin-left: 0.5em;
    margin-top: 1em;
    cursor: pointer;
    position: relative;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 0px 8px 0px rgba(255,255,255,1);
}

.joystick:active {
    width: 2.8em;
    height: 2.8em;
}

.botonesDireccion {
    width: 1.6em;
    height: 1.6em;
    border: 1px solid black;
    background-color: black;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.botonesDireccion:active {
    width: 1.5em;
    height: 1.5em;
}

#arriba {
    position: relative;
    bottom: 0.5em;
    right: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em 1em 3em 3em;
}

#izquierda {
    position: relative;
    top: 1.2em;
    right: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em 3em 3em 1em;
}

#abajo {
    position: relative;
    top: 0.5em;
    left: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3em 3em 1em 1em;
}

#derecha {
    position: relative;
    bottom: 1.2em;
    left: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3em 1em 1em 3em;
}



 /* Botones derechos (X O <> /\) */
.controlBotones {
    width: 7em;
    height: 10em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 0 5em 5em 0;
}

.botonesDerechos {
    width: 5em;
    height: 5em;
    border: 3px solid red;
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: inset 0px 0px 45px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 45px -18px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 45px -18px rgba(0,0,0,0.75);
}

.separadorDerecho   {
    width: 5em;
    height: 2.5em;
    display: flex;
}

.botonesRedondos {
    width: 1.6em;
    height: 1.6em;
    border: 1px solid black;
    background-color: black;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.botonesRedondos:active {
    width: 1.5em;
    height: 1.5em;
}

#triangulo {
    position: relative;
    bottom: 1em;
    right: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cuadrado {
    position: relative;
    top: 1.2em;
    right: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#equis {
    position: relative;
    top: 1.1em;
    left: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circulo {
    position: relative;
    bottom: 1.2em;
    left: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadradoInterior {
    width: 0.8em;
    height: 0.8em;
    border: 2px solid white;
}

.trianguloInterior {
    content: '';
    height: 1em;
    border-left: 2px solid white;
    position: absolute;
    transform: rotate(-25deg);
    left: 0.2em;
    position: relative;
}

.trianguloInterior::after {
    content: '';
    height: 1em;
    border-left: 2px solid white;
    position: absolute;
    transform: rotate(50deg);
    right: 0.35em;
    bottom: 0.2em;
}

.trianguloInterior::before {
    content: '';
    height: 0.9em;
    border-left: 2px solid white;
    position: absolute;
    transform: rotate(116deg);
    right: 0.38em;
    top: 0.35em;
}

.equisInterior {
    content: '';
    height: 1em;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(-45deg);
    left: 0.7em;
}

.equisInterior::after {
    content: '';
    height: 1.1em;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(90deg);
    left: -0.1em;
}
.circuloInterior {
    width: 0.8em;
    height: 0.8em;
    border: 2px solid white;
    border-radius: 100%;
}



/*Hasta aquí la locura de los botones de la play */


/* Aquí esta todo sobre la pantalla y sus botones */
.pantalla {
    width: 24.5em;
    height: 13.5em;
    background-color: #808080;
    -webkit-box-shadow: inset 10px 10px 56px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 10px 10px 56px 0px rgba(0,0,0,0.75);
    box-shadow: inset 10px 10px 56px 0px rgba(0,0,0,0.75);
}

.margenPantalla {
    width: 26em;
    height: 1.5em;
    display: flex;
    flex-direction: row;
    background-color: red;
    -webkit-box-shadow: inset 5px 1px 64px -22px rgba(0,0,0,0.84);
    -moz-box-shadow: inset 5px 1px 64px -22px rgba(0,0,0,0.84);
    box-shadow: inset 5px 1px 64px -22px rgba(0,0,0,0.84);
}

.botonesPantalla {
    width: 5.2em;
    height: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Play', sans-serif;
    color: white;
}

/* Aqui estan los botones inferiores */

.botonHome {
    width: 3em;
    height: 1em;
    border: 1px solid black;
    background-color: black;
    border-radius: 0.5em 0.5em 3.5em 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

#home {
    font-size: 0.75em;
    margin-bottom: 0.3em;
}

#home:active {
    width: 2.6em;
    height: 1em;
}

.botonesVolumen {
    width: 1.5em;
    height: 1em;
    border: 1px solid black;
    background-color: black;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.botonesVolumen:active {
    width: 1.5em;
    height: 0.8em;
}

#volumen {
    font-size: 0.75em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    color: black;
    font-weight: bold;
}

#masMenos {
    font-size: 1.5em;
    margin-bottom: 0.1em;
}

#psp {
    font-family: 'Play';
    font-size: 1.7em;
    color: black;
}

.botonSelectStart {
    width: 3em;
    height: 1em;
    border: 1px solid black;
    background-color: black;
    border-radius: 0.5em 0.5em 3.5em 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.selectStart {
    font-size: 0.75em;
    margin-bottom: 0.3em;
}

.separadorLlavero {
    width: 4em;
    height: 1em;
}

.llavero {
    border-radius: 0 1em 1em 4em;
    margin-left: 0.7em;
    background-color: white;
    -webkit-box-shadow: inset 3px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 3px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: inset 3px 4px 5px 0px rgba(0,0,0,0.75);
}

.selectStart:active {
    width: 2.6em;
    height: 1em;
}
